body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}
.header-start {
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-family: "SF Pro Display", "Times New Roman";
  background-image: url("../img/header/Frame3.png");
  background-size: cover;
}
#header1 {
  width: 462;
  height: 31.940168380737305;
  border-width: 0.25px;
  angle: 0 deg;
  opacity: 1;
  color: #332f81;
}
#header2 {
  width: 14.050687789916992;
  height: 19.163925170898438;
  border-width: 0.25px;
  angle: 0 deg;
  opacity: 1;
  top: 38.63px;
  left: 296.82px;
  color: #b7202f;
}
.nav-item{
  font-family: SF Pro Display;
font-weight: 500;
font-style: Medium;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}
.header-news {
  font-family: Merriweather;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;

}
.header-breaking-news {
font-weight: 400;
font-style: Regular;
font-size: 15px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
color: #000000;
font-weight: 500;
}
.header-news-image{
font-family: Merriweather;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 36px;
letter-spacing: 0%;

}
.main-news {
 background:#DC3545;
}
.news-box {
     
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content:space-between ;
      
    }
    .news-box h5, .news-box h6, .news-box p {
      color: #fff;
    }
    
    .sub-news img {
      width: 100%;
      height: auto;
    }
    .sub-news a {
      color: #fff;
      text-decoration: none;
    }
    .activity-box {
      color: #fff;
      
    }
    .activity-box a {
      color: #fff;
      text-decoration: none;
    }

    .border-dotted {
  border-style: dotted;
}
.main-all{
  color:#080447;
}


.main-equipt .card-body h6 {
  font-size: 1.1rem;
  line-height: 1.5;
}

.main-equipt a {
  text-decoration: none;
}

/* Khối box */
.editor-box {
  background-image: url("../img/main/equipt/bg.png");
  background-size: cover;
  border: 1px solid #4671e9;
  padding: 25px 10px;
  margin: 20px;
}

.editor-box p {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

.main-mental h6,
.main-public-health h6 {
  padding-left: 8px;
  

}

.card-body h6 {
  font-size: 1rem;
  line-height: 1.4;
}

.main-mental a,
.main-public-health a {
  text-decoration: none;
}

.main-mental a:hover,
.main-public-health a:hover {
  color: #d32f2f;
}


.footer {
  background: #086aaf;
  padding: 20px 0;
  text-align: center;
  font-family: "SF Pro Display";
}
.footer {
  background-color: #f5f9fc; 
  position: relative;
  overflow: hidden;
}

.footer-decor {
  position: absolute;
  opacity: 0.6; 
  z-index: 0;  
}

.footer-left {
  top: 10px;
  left: 0;
}

.footer-right {
  bottom: 10px;
  right: 0;
}
.footer-mid {
  top: 20px;
  right: 180px;
}
.footer .container {
  position: relative;
  z-index: 1; 
}


